body
  background: #FFF
  font-size: 16px
  line-height: 1.4

.container
  width: 1018px
  
.container--head
  width: 1150px

header
  justify-content: center
  padding-top: 70px
  background-image: url("../img/sky-bg.png")
  background-repeat: no-repeat
  background-position: 297px -319px

.slider_block
  justify-content: center
  

.information_block
  justify-content: center
  
.news_block
  justify-content: center

.partners_block
  justify-content: center

.footer
  justify-content: center