 {% extends "layouts/_layout.html" %} {% block content %}
<!--HEADER begin-->
<header class="block">
	<section class="container container--head  block">
		<!--LOGO begin-->
		<div class="logo">
			<img src="../img/logo.png" />
		</div>
		<!--LOGO end-->

		<!--TOP MENU begin-->

		{% include "partials/_topmenu.html" %}

		<!--TOP MENU end-->

	</section>
</header>
<!--HEADER end-->

<!--SLIDER BLOCK begin-->
<section class="slider_block block">
	<section class="container container--slider block">
		<a href="#!" class="slider_block__link slider_block__link--left"></a>
		
		<div class="slider block">

			{% include "partials/_sliderblock.html" %}


		</div>

		<a href="#!" class="slider_block__link slider_block__link--right"></a>
	</section>
</section>
<!--SLIDER BLOCK end-->

<!--INFORMATION BLOCK begin-->
<section class="information_block block">
	<section class="container block">
		{% include "partials/_informationblock.html" %}
	</section>
</section>
<!--INFORMATION BLOCK end-->

<!--NEWS BLOCK begin-->
<section class="news_block block">
	<section class="container block">

		{% include "partials/_newsblock.html" %}

	</section>
</section>
<!--NEWS BLOCK end-->

<!--PARTNERS BLOCK begin-->
<section class="partners_block block">
	<section class="container">

		{% include "partials/_partnersblock.html" %}

	</section>
</section>
<!--PARTNERS BLOCK end-->

<!--FOOTER begin-->
<section class="footer block">
	<section class="container container--footer">

		{% include "partials/_footer.html" %}

	</section>
</section>
<!--FOOTER end-->

{% endblock %}