<nav class="top_menu">
    <!--LIST begin-->
    <ul class="menu menu--first block">

        <li class="menu_item">
            <a class="menu__link menu__link--rent" href="#!">
                <span class="menu__img menu__img--rent"></span>
                <strong>Аренда</strong>
            </a>
        </li>
        <li class="menu_item menu_item--polls">
            <a class="menu__link menu__link--polls" href="#!">
                <span class="menu__img menu__img--polls"></span>
                <strong>Опросы и голосования</strong>
            </a>
        </li>
        <li class="menu_item menu_item--comunication">
            <a class="menu__link menu__link--communication" href="#!">
                <span class="menu__img menu__img--communication"></span>
                <strong>Общение</strong>
            </a>
        </li>
        <li class="menu_item menu_item--invest">
            <a class="menu__link menu__link--invest" href="#!">
                <span class="menu__img menu__img--invest"></span>
                <strong>Инвестиции</strong>
            </a>
        </li>
        <li class="menu_item menu_item--contacts">
            <a class="menu__link menu__link--contacts" href="#!">
                <span class="menu__img menu__img--contacts"></span>
                <strong>Контакты</strong>
            </a>
        </li>

    </ul>
    <!--LIST end-->

    <!--LIST start-->
    <ul class="menu menu--second block">

        <li class="menu_item">
            <a class="menu__link menu__link--news" href="#!">
                <span class="menu__img menu__img--news"></span>
                <strong>Новости</strong>
            </a>
        </li>
        <li class="menu_item menu_item--partners_livingtogether">
            <a class="menu__link menu__link--partners" href="#!">
                <span class="menu__img menu__img--partners"></span>
                <strong>Партнеры «Живём вместе»</strong>
            </a>
        </li>
        <li class="menu_item menu_item--question">
            <a class="menu__link menu__link--question" href="#!">
                <span class="menu__img menu__img--question"></span>
                <strong>есть вопрос?</strong>
            </a>
        </li>
        <li class="menu_item menu_item--typical_decoration">
            <a class="menu__link menu__link--typical-decoration" href="#!">
                <span class="menu__img menu__img--typical-decoration"></span>
                <strong>Типовая отделка</strong>
            </a>
        </li>
        <li class="menu_item menu_item--club_cart">
            <a class="menu__link menu__link--club-cart" href="#!">
                <span class="menu__img menu__img--club-cart"></span>
                <strong>Клубная карта</strong>
            </a>
        </li>

    </ul>
    <!--LIST end-->

</nav>