<!--MAIN_INFO begin-->
<section class="main_info">
    <p class="main_info__text main_info__paragraf">
        «Живем вместе» - особенный проект, созданный специально для наших покупателей, которые <br/>приобрели квартиру в
        «БЕСТ-Новострой». Приобретая квартиру в «БЕСТ-Новострой», Вы можете <br/>стать членом нашего клуба «Живем вместе»
        и иметь доступ к актуальной информации о вашем </br> комплексе. Получив Клубную Карту программы, Вы сможете пользоваться
        специальным пакетом </br> привилегированных услуг:
    </p>
    
    </br>

    <ul class="main_info__text info_list">
        <li class="info-list__item">Партнёрская Программа (Вы получите скидки на товары и услуги по Клубной Карте);</li>
        <li class="info-list__item">Полезная Информация о вашем комплексе и ближайших обслуживающих организаций;</li>
        <li class="info-list__item">Удобный доступ к документам, планировкам и шахматке;</li>
        <li class="info-list__item">регулярное освещение хода строительства;</li>
        <li class="info-list__item">лента новостей по жилому комплексу;</li>
        <li class="info-list__item">онлайн-заявки для различных целей (напр: машиноместа, типовая отделка и т.д.);</li>
        <li class="info-list__item">площадка для общения между жильцами комплекса (форум).</li>
    </ul>

    </br>

    <p class="main_info__text main_info__paragraf">
        И это далеко не всё, что вы можете узнать на сайте: <a href="#!" class="main_info__link">vmeste-bn.ru</a> </br>Нам
        важно, чтобы Вы жили с комфортом и стали хорошими соседями друг для друга. </br>ВМЕСТЕ мы создаем жилую среду — комплекс,
        который в будущем будет приносить вам радость и </br>уют. Начиная с покупки квартиры и даже после заселения, мы будем
        рядом, чтобы помогать</br> благоустраивать ваш жилой комплекс.</br>
        </br>Участвуйте в проекте «Живем вместе», это поможет сделать жизнь вашего дома яркой, насыщенной, </br> и конечно, удобной!
        Делитесь своими мыслями и предложениями, а мы – «БЕСТ-Новострой»— </br>окажем всевозможное содействие в создании
        жилья Вашей мечты!
    </p>

</section>
<!--MAIN_INFO end-->

<!--TECH_INFO begin-->
<section class="tech_info">
    <div class="support">
        <img src="../icons/tech_support.png" class="support__img"  alt="technical support icon"/>
        <div class="support__telephones">
            <p class="support__telephone">+7 495</p>
            <p class="support__telephone-bold">648-39-38 </p>
            <p class="support__text">техническая поддержка</p>
        </div>
    </div>

    <div class="club">
        <img src="../img/club_cart.png" alt="club cart image" />
        <div class="club__info">
            <h1 class="club__title">Клубная карта</h1>
            <p class="club__text">Клубная карта дает возможность получить доступ к личному кабинету объекта и получать важную информацию</p>
            <a href="#!" class="club__link">подробнее</a>
        </div>
    </div>
</section>
<!--TECH_INFO end-->