{% import "data/data.html" as data%}

<div class="news">
    <!--NEWS_PANEL begin-->
    <div class="news_panel">
        <h1 class="news_panel__title">Новости «Живем Вместе»</h1>
        <a href="#!" class="news_panel__all_news_link">Все новости</a>
    </div>
    <!--NEWS_PANEL end-->
    <div class="news__items_wrapper">

        {% for news in data.news%}
        <!--NEWS ITEM begin-->
        <div class="news__item">
            <p class="news__item_data">
                <a href="#!" class="news__item_data_link">{{news.date}}</a>
            </p>

            <p class="news__item_text">
                {{news.text}}
            </p>
            <a href="#!" class="news__item_full_link">подробнее</a>
        </div>
        <!--NEWS ITEM end-->
        {%endfor%}

    </div>

</div>