<div class="news">
    <!--NEWS_PANEL begin-->
    <div class="news_panel">
        <h1 class="news_panel__title">Новости «Живем Вместе»</h1>
        <a href="#!" class="news_panel__link">Все новости</a>
    </div>
    <!--NEWS_PANEL end-->

    <!--NEWS ITEM begin-->
    <div class="news__item">
        <p class="news__item_data">
            <a href="#!" class="news__item_data_link">12 мая 2013</a>
        </p>

        <p class="news__item_text">
            Хоккеист Ничушкин планирует провести следующий сезон в НХЛ. Матч за Суперкубок России по футболу пройдет.
        </p>
        <a href="#!" class="news__item_full_link">подробнее</a>
    </div>
    <!--NEWS ITEM end-->

</div>