{% import "data/data.html" as data %} {% for slide in data.slides %}
<!--COLUMN begin-->
<div class="slide block">
    <div class="head">

        <h3 class="head__type">{{slide.type}}</h3>
        <h1 class="head__title">{{slide.title}}</h1>

    </div>
    <div class="slide__img_wrapper">

        <img src="../img/{{slide.img}}.png" class="slide__img" />

    </div>
    {% if slide.additionalImg %}
    <div class="additional_img_wrapper">
        <img src="../img/{{slide.additionalImg}}.png" class="slide__additional_img"/>
    </div>
    {%endif%}

    <form class="authorisation">
        <input type="email" class="authorisation__input authorisation__input--email" placeholder="Электронная почта">
        <input type="text" class="authorisation__input authorisation__input--login" placeholder="Логин">
        <div class="authorisation__controls_block">
            <div class="authorisation__links_wrapper">
                <a href="#!" class="authorisation__link">Забыли пароль?</a>
                <a href="#!" class="authorisation__link">Регистрация</a>
            </div>
            <div>
                <input type="submit" class="authorisation__submit" value="Войти">
            </div>
        </div>
    </form>

    <div class="additional_info">
        <p class="additional_info__tel">Продажи <span class="additional_info__tel--bold"> &nbsp; +7 495 995-15-25</span></p>
        <div class="location_wrapper">
            <p class="additional_info__location_icon"></p>
            <a class="additional_info__location_link" href="#!">Как добраться до объекта?</a>
        </div>
    </div>
</div>
<!--COLUMN end-->
{%endfor%}