<!--COLUMN begin-->
<div class="column block">

    <div class="head">

        <h4 class="head__type">Жилой комплекс</h3>
            <h1 class="head__title">Одинцовский парк</h1>

    </div>
    <div class="column__img_wrapper">

        <img src="../img/park-odintsovo.png" class="column__img" />

    </div>


    <form class="authorisation">
        <input type="email" class="authorisation__input authorisation__input--email" placeholder="Электронная почта">
        <input type="text" class="authorisation__input authorisation__input--login" placeholder="Логин">
        <div class="authorisation__controls_block">
            <div class="authorisation__links_wrapper">
                <a href="#!" class="authorisation__links authorisation__fogget_password">Забыли пароль?</a>
                <a href="#!" class="authorisation__links authorisation__registration">Регистрация</a>
            </div>
            <div>
                <input type="submit" class="authorisation__submit" value="Войти">
            </div>
        </div>
    </form>

    <div class="additional_info">
        <p class="additional_info__tel">Продажи <span class="additional_info__tel--bold"> &nbsp; +7 495 995-15-25</span></p>
        <div class="location_wrapper">
            <p class="additional_info__location_icon"></p>
            <a class="additional_info__location_link" href="#!">Как добраться до объекта?</a>
        </div>
    </div>
</div>
<!--COLUMN end-->

<!--COLUMN begin-->
<div class="column block">

    <div class="head">

        <h4 class="head__type">Жилой комплекс</h3>
            <h1 class="head__title">Новые Ватутинки</h1>

    </div>
    <div class="column__img_wrapper">

        <img src="../img/new-vatutino.png" class="column__img" />

    </div>
    <div class="additional_views"></div>
    <div class="form_wrapper">
        <form class="authorisation">
            <input type="email" class="authorisation__input authorisation__input--email" placeholder="Электронная почта">
            <input type="text" class="authorisation__input authorisation__input--login" placeholder="Логин">
            <div class="authorisation__controls_block">
                <div class="authorisation__links_wrapper">
                    <a href="#!" class="authorisation__links authorisation__fogget_password">Забыли пароль?</a>
                    <a href="#!" class="authorisation__links authorisation__registration">Регистрация</a>
                </div>
                <div>
                    <input type="submit" class="authorisation__submit" value="Войти">
                </div>
            </div>
        </form>
    </div>
    <div class="additional_info">
        <p class="additional_info__tel">Продажи <span class="additional_info__tel--bold"> &nbsp; +7 495 995-15-25</span></p>
        <div class="location_wrapper">
            <p class="additional_info__location_icon"></p>
            <a class="additional_info__location_link" href="#!">Как добраться до объекта?</a>
        </div>
    </div>
</div>
<!--COLUMN end-->
<!--COLUMN begin-->
<div class="column block">

    <div class="head">

        <h4 class="head__type">Жилой комплекс</h3>
            <h1 class="head__title">Новое Бутово</h1>

    </div>
    <div class="column__img_wrapper">

        <img src="../img/new-butovo.png" class="column__img" />

    </div>

    <div class="form_wrapper">
        <form class="authorisation">
            <input type="email" class="authorisation__input authorisation__input--email" placeholder="Электронная почта">
            <input type="text" class="authorisation__input authorisation__input--login" placeholder="Логин">
            <div class="authorisation__controls_block">
                <div class="authorisation__links_wrapper">
                    <a href="#!" class="authorisation__links authorisation__fogget_password">Забыли пароль?</a>
                    <a href="#!" class="authorisation__links authorisation__registration">Регистрация</a>
                </div>
                <div>
                    <input type="submit" class="authorisation__submit" value="Войти">
                </div>
            </div>
        </form>
    </div>
    <div class="additional_info">
        <p class="additional_info__tel">Продажи <span class="additional_info__tel--bold"> &nbsp; +7 495 995-15-25</span></p>
        <div class="location_wrapper">
            <p class="additional_info__location_icon"></p>
            <a class="additional_info__location_link" href="#!">Как добраться до объекта?</a>
        </div>
    </div>
</div>
<!--COLUMN end-->