<nav class="top_menu">
    <!--LIST begin-->
    <ul class="menu menu--top block">

        <li class="menu_item"><span class="menu__img menu__img--rent"></span><a class="menu__link menu__link--rent" href="#!">Аренда</a></li>
        <li class="menu_item menu_item--polls"><span class="menu__img menu__img--polls"></span><a class="menu__link" href="#!">Опросы и голосования</a></li>
        <li class="menu_item menu_item--comunication"><span class="menu__img menu__img--communication"></span><a class="menu__link menu__link--communication" href="#!">Общение</a></li>
        <li class="menu_item menu_item--invest"><span class="menu__img menu__img--invest"></span><a class="menu__link menu__link--invest" href="#!">Инвестиции</a></li>
        <li class="menu_item menu_item--contacts"><span class="menu__img menu__img--contacts"></span><a class="menu__link menu__link--contacts" href="#!">Контакты</a></li>

    </ul>
    <!--LIST end-->
    
    <!--LIST start-->
    <ul class="menu block">

        <li class="menu_item"><span class="menu__img menu__img--news"></span><a class="menu__link" href="#!">Новости</a></li>
        <li class="menu_item menu_item--partners_livingtogether"><span class="menu__img menu__img--partners_livingtigether"></span><a class="menu__link" href="#!">Партнеры &laquo;Живём вместе &raquo;</a></li>
        <li class="menu_item menu_item--question"><span class="menu__img menu__img--question"></span><a class="menu__link menu__link--question" href="#!">есть вопрос?</a></li>
        <li class="menu_item menu_item--typical_decoration"><span class="menu__img menu__img--typical_decoration"></span><a class="menu__link menu__link--typical_decoration"
                href="#!">Типовая отделка</a></li>
        <li class="menu_item menu_item--club_cart"><span class="menu__img menu__img--club_cart"></span><a class="menu__link menu__link--club_cart" href="#!">Клубная карта</a></li>

    </ul>
    <!--LIST end-->

</nav>