.footer{
    position:relative;
    margin: 39px 0 0 0;
    height: 167px;
    box-sizing: border-box;
    border-top:1px solid #dadada;
}
.container--footer{
    display: flex;
    justify-content: space-between;
}

.footer__title{
    position: absolute;
    top: -8px;
    left: 388px;
    width: 261px;
    background-color: #fff;
    font-family: "Proxima Nova Semibold",sans-serif;
    font-size: 12px;
    color: #484c4f;
    letter-spacing: 0.5px;
    text-align: center;
}

.footer__text{
    margin: 16px 0 0 1px;
    font-family: "Geneva",sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #7d7d7d;
}

.footer__text_link{
 color: #2896df;
}

.footer__logo{
    margin: 10px 15px 0 0;
}