/*header*/
.header{
  padding-top: 70px;
  background-image: url("../img/sky-bg.png");
  background-repeat: no-repeat;
  background-position: center -339px;
}

.container--head{

    
    @include rmin(1200){
        max-width: 1170px;
        margin: 0 auto;
    }
}

.logo{
    text-align: center;

    @include rmin(900){
        float: left;
    }
}

/*top menu*/

.top_menu{
    overflow: hidden;
    padding: 10px 0 0 0px;
    
    @include rmin(480){

    }
    @include rmin(590){

    }
    @include rmin(1200){
        margin-left: 25px;
        padding: 9px 0 0 36px;
    }
}

.menu{
    text-align: center;
    
    @include rmin(480){
        width: 50%;
        float: left;     
}
    @include rmin(590){
        width:100%;
        text-align: left;

    }
    @include rmin(1200){
        width: auto;
        margin: 0 25px 0 0;

    }
    
}
.menu_item{
    @include rmin(590){
        float: left;
        margin: 0 7px 0 4px;
    }

    @include rmin(900){
        margin: 0 10px 0 10px;
    }
    @include rmin(1200){
        margin: 0 0 9px 0;
        float: none;
    }
    span,strong{
    font-weight: 300;
    vertical-align: middle;
    }
    
    @include rmin(1200){
        strong{
            text-decoration: underline;
        }
    }
}



@each $ic in rent, polls, communication,invest,contacts,news,partners, question, typical-decoration, club-cart{
    .menu__img--#{$ic}{
    @include s(#{$ic});

    }
}
@include rmin(1200){
    .menu__img--polls{
        margin-left: 5px;
    }
    .menu__img--communication{
        margin-left: 1px;
    }
    .menu__img--invest{
        margin-left: 2px;
    }

}


.menu__img{
    display: none;
    
    @include rmin(1200){
        display: inline-block;
    }
    /*width: 20px;
    height: 20px;*/
    background-repeat: no-repeat;
}

.menu__link{
    display: block;
    padding: 5px 0 5px 0;
    
    @include rmin(1200){
        padding: 0 0 0 0;
        text-decoration: none;
    }
    @include geneva;
    font-size: 0.875em;
    color: $mainTextColor;

    @include rmin(1200){
        font-size: 0.75em;

    }
}


