/*header*/
header{
  justify-content: center;
  padding-top: 70px;
  background-image: url("../img/sky-bg.png");
  background-repeat: no-repeat;
  background-position: center -339px;
}

.container--head{
    flex-direction: column;
    align-content: center;
    @include rmin(900){
        flex-direction: row;
        justify-content: space-around;
    }
    @include rmin(1200){
        max-width: 1170px;
        flex-direction: row;
        justify-content: flex-start;
    }
}

.logo{
    text-align: center;
}

/*top menu*/

.top_menu{
    padding: 10px 0 0 0px;
    @include rmin(480){
        display: flex;
    }
    @include rmin(590){
        flex-direction: column;
    }
    @include rmin(1200){
        margin-left: 26px;
    }
}

.menu{
    flex-direction: column;
    @include rmin(480){
        width: 50%;
        align-items: center;       
}
    @include rmin(590){
        width:100%;
        flex-direction: row;
        justify-content: space-around;
    }
    
}
.menu_item{
    display: flex;
    justify-content: center;
    @include rmin(900){
        margin: 0 10px 0 10px;
    }
    @include rmin(1200){
        margin: 0 0 0 0;
    }
}


@each $ic in rent, polls, communication,invest,contacts,news,partners, question, typical-decoration, club-cart{
    .menu__img--#{$ic}{
    @include s(#{$ic});

    }
}



.menu__img{
    display: none;
    @include rmin(768){
        display: block;
    }
    /*width: 20px;
    height: 20px;*/
    background-repeat: no-repeat;
}

.menu__link{
    display: block;
    padding: 5px 0 5px 0;
    @include geneva;
    font-size: 14px;
    color: $mainTextColor;

    @include rmin(1200){
        font-size: 12px;
    }
}


