/*information block*/
.container--information{

 @include rmin(768){

 }
}
.article{
    color: $mainTextColor;
    padding: 45px 10px 0 10px;
    @include geneva;
    font-size:13px;
    
    & p{
       line-height: 1.54; 
       margin: 0 32px 0 0;
    }

    & p:last-child{
        margin-top: 21px;
    }

    & ul{
        margin: 30px 0 30px 2px;
        line-height: 1.54;
        padding: 0 0 0 19px;
        li{
            &::before{
                content: "-";
            }
        }
    }

    & a{
        color: #2f96cb;
    }
    @include rmin(768){
        width:60%;
        float: left;
    }
    
    @include rmin(1024){
        width: 68%;
        padding: 31px 0 0 14px;
    }
}

@include rmin(1024){
    .information_block{

    }
}


/*technical block*/

.tech_info{
    padding-top: 46px;

    @include rmin(768){
        width: 40%;
        float: right;
    }
    @include rmin(1024){
        width: 30%;
        padding-top: 31px;
    }
}
.support{
    overflow: hidden;
    padding: 1px 0 0 11px;
    
    @include rmin(1024){
        padding: 4px 0 0 17px;
    }
    
}

.support__img{
    float: left;
    width: 48px;
    height: 48px;
    margin-top: 12px;
}

.support__telephones{
    float: left;
    width: 130px;
}

.support__telephone{
    font-family: $proxima;
    font-size: 12px;
    color: #919191;
    padding-left: 3px;
    letter-spacing: 0.2px;
}
.support__telephone-bold{
    @include proximaBold;
    font-size: 19px;
    color: #353535;
    line-height: 0.843;
    padding-left: 7px;
    letter-spacing: 0.2px;
}
.support__text{
    font-family: "Arial";
    font-size: 12px;
    color: #010101;
    padding-left: 8px;
    line-height: 1;
    padding-top: 2px;
}

.club{
    padding: 21px 0 0 0px;
    color:$mainTextColor;
}
.club__img_wrapper{
    text-align: center;
    @include rmin(1024){
        padding-left: 3px;
    }
}
.club__info{
    margin: 13px 0 0 0;
    padding: 0 10px 0 10px;

}

.club__title{
    @include proximaBold;
    font-size: 23px;
    letter-spacing: -0.3px;

    @include rmin(1024){
        padding-left: 43px;
    }
}

.club__text{
    @include geneva;
    font-size: 13px;
    padding: 6px 0 0 0;
    line-height: 1.54;
    letter-spacing: 0.5px;
    

    @include rmin(1024){
        padding: 7px 0 0 45px;
        letter-spacing: 0.2px;
    }
}

.club__link{
    display: block;
    margin: 16px 0 0 1px;
    @include geneva;
    font-size: 12px;
    color: $mainTextColor;
    opacity: .4;
    letter-spacing: 0.4px;

    @include rmin(1024){
        margin: 17px 0 0 44px;
    }
}
