/*information block*/
.main_info{
    width: 708px;
    color: $mainTextColor;
    padding: 45px 0 0 21px;
}

.main_info__text{
    @include geneva;
    font-size:13px;
    
}
.main_info__paragraf{
    line-height: 20px;
}
.info_list{
    margin-top: 7px;
    margin-bottom:10px;
    padding-left: 16px;
}

.info-list__item{
    position: relative;
    margin-bottom: 2px;
    padding-left: 20px;

    &::before{
        content: "-";
        position: absolute;
        left:8px;
    }
}

.main_info__link{
    color: #2f96cb;
}

/*technical block*/

.tech_info{
    width: 298px;
    padding-top: 46px;
}
.support{
    display: flex;
    padding: 1px 0 0 11px;
}

.support__img{
    width: 48px;
    height: 48px;
    margin-top: 12px;
}

.support__telephones{
    width: 130px;
}

.support__telephone{
    font-family: $proxima;
    font-size: 12px;
    color: #919191;
    padding-left: 3px;
    letter-spacing: 0.2px;
}
.support__telephone-bold{
    font-family: $proximaSemibold;
    font-size: 19px;
    color: #353535;
    line-height: 16px;
    padding-left: 7px;
    letter-spacing: 0.5px;
}
.support__text{
    font-family: "Arial";
    font-size: 12px;
    color: #010101;
    padding-left: 8px;
    line-height: 12px;
    padding-top: 2px;
}

.club{
    padding: 21px 0 0 0px;
    color:$mainTextColor;
}

.club__info{
    margin: 13px 0 0 49px;
}

.club__title{
    @include proximaBold;
    font-size: 23px;
    letter-spacing: -0.3px;
}

.club__text{
    @include geneva;
    font-size: 13px;
    padding: 6px 0 0 0;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.club__link{
    display: block;
    margin: 16px 0 0 1px;
    @include geneva;
    font-size: 12px;
    color: $mainTextColor;
    opacity: .4;
    letter-spacing: 0.4px;
}
