/*news block*/

.news{
    width: 100%;
    margin: 46px 0 0 0px;
    padding:24px 0 30px 0;
    border-radius: 10px;
    background-color: #f5f5f5;
    color: $mainTextColor;
}

.news_panel{
    display: flex;
    justify-content: space-between;
    padding: 0 38px 0 38px;
}

.news_panel__title{
    font-family: $proximaSemibold;
    font-size: 19px; 
}

.news_panel__all_news_link{
    @include geneva;
    font-size: 12px;
    color: $mainTextColor;
}

.news__items_wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
    padding: 0 0 0 22px;
}

.news__item{
    width: 293px;
    padding: 0 0 0 15px;
    @include geneva;
    color: $mainTextColor;
    font-size: 13px;
}


.news__item_data_link{
    text-decoration: none;
    color: #1a9dd7;
    font-size: 13px;
}

.news__item_text{
    font-size: 13px;   
}

.news__item_full_link{
    display: block;
    margin: 7px 0 0 0;
    @include geneva;
    font-size: 12px;
    color: $mainTextColor;
    opacity: .4;
    letter-spacing: 0.4px;
}