/*partners block*/

.partners_block__title{
    font-family: $proximaSemibold;
    font-size: 19px;
    color: $mainTextColor;
    margin: 35px 0 0 23px;
    letter-spacing: -0.7px;
}

.partner__text{
    @include geneva;
    font-size: 10px;
}
.partner__text_link{
    color: $mainTextColor;
}

.partners{
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
}

.partner{
    width: 100px;
    height: 120px;
    margin-bottom: 10px;
}

.partner__text{
    padding-right: 17px;
}


/*icons*/

@each $ic in audio-system,appliances,trucking,doors,designers,for-kids,health,climat,clean-service,beauty,kitchens,stairs,materials,furniture,stretch-ceiling,celebration,security-system,drinking-water,floor,hobbies,other, sanitary-engineering, light, textile-products, tourism, smart-house, building, animals-care,artistic-forging{
    .partner__icon--#{$ic}{
    @include s(#{$ic});

    }
}
.partner__icon{
    display: block;
    margin-bottom: 10px;
    height: 76px;
}