.column{
    flex-direction: column;
    align-items: center;
    width:339px;
    padding: 41px 0 0 0px;
    position: relative;
}

.slider_block__link{
    position:absolute;
    display: block;
    width:37px;
    height:37px;
    background-image: url("../icons/slider-arrows.png");
    background-repeat: no-repeat;
}

.slider_block__link--left{
    top: 366px;
    left: 363px;
}
.slider_block__link--right{
    background-position: -40px 0px;
    top: 366px;
    right: 390px;
}

.head{
    width: 100%;
    color: #2b2b2b;
    padding-left:8px;
}

.head__type{
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 24px;
    padding: 0 0 0 3px;
}

.head__title{
    width: 246px;
    font-family: "Proxima Nova Bold", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #f8b22b;
    line-height: 31px;
    letter-spacing: -0.9px;
}

.column__img{
    
    margin: 9px 0 0 0px;
    z-index: -1;
}

.additional_views{
    width:127px;
    height: 127px;
    box-sizing: border-box;
    border: 5px solid #fff;
    border-radius: 50%;
    background-image: url("../img/vatutino-extra.png");
    position: absolute;
    top: 221px;
    left: 17px;
}

/*form*/

/*.form_wrapper{
    width:287px;
    height: 152px;
    margin: 21px 0 0 4px;
    padding: 20px 23px 20px 23px;
    background-color: #f3f3f3;
    border-radius: 10px;
}*/

.authorisation{
    width:287px;
    height: 152px;
    margin: 22px 45px 0 0;
    padding: 20px 23px 20px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 10px;
}
.authorisation__controls_block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
}
.authorisation__input{
    width:238px;
    height: 41px;
    box-sizing: border-box;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    font-family: "Geneva", sans-serif;
    font-weight: 300;
    font-size: 13px;
}

.authorisation__input--email{
    margin-bottom: 8px;
    background-image: url("../icons/login-person.png");
    background-repeat: no-repeat;
    background-position: 7px 8px;
    padding-left: 30px;
    letter-spacing: 0.6px;

}
.authorisation__input--login{
    background-image: url("../icons/login-key.png");
    background-repeat: no-repeat;
    background-position: 9px 8px;
    padding-left: 32px;
    letter-spacing: 0.4px;
}

.authorisation__submit{
    width:107px;
    height: 32px;
    margin-right: 2px;
    font-family: "Proxima Nova Semibold", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #1b1a1a;
    background: linear-gradient(to bottom, #ffe665, #fbc356);
    border-radius: 4px;
}

.authorisation__links_wrapper{
    margin-left: 4px;
}

.authorisation__links{
    display: block;
    font-family: "Geneva", sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #2b2b2b;
    opacity: .4;
}


.additional_info{
    width:287px;
    margin: 11px 0 0 0;
    text-align: center;
}

.additional_info__location_icon{
    background-image: url("../icons/location-pin.png");
    width: 20px;
    height: 24px;
    margin: 2px 6px 0 25px;
    background-position: 1px 0px;
    background-repeat: no-repeat;
}

.location_wrapper{
    display: flex;
    justify-content: flex-start;
}

.additional_info__location_link{
    display: block;
    font-family: "Geneva", sans-serif;
    font-size: 11px;
    color: #2b2b2b;
    line-height: 24px;
    margin: 3px 0 0 0;
    letter-spacing: 0.5px;
}

.additional_info__tel{
    padding: 1px 0 0 0;
    font-family: "Proxima Nova";
    font-size: 13px;
    text-align: left;
    color: #2b2b2b;
}

.additional_info__tel--bold{
    font-family: "Proxima Nova Bold";
    font-weight: bold;
    font-size: 20px;
}