/*clider block*/
.container--slider{
    overflow: hidden;
    justify-content: center;
    
}
/*slider*/
.slider{
    width: 320px;
    overflow: hidden;
    display: flex;
    background-color:lightyellow;
}

.slide{
    width: 287px;
    flex-direction: column;
    align-items: center;
    margin: 0 5.2% 0 5.2%;
    padding: 41px 0 0 0px;
    position: relative;
}

.slider__link{
    position:absolute;
    display: none;
    width:37px;
    height:37px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    z-index: 5;
}

.slider__link--left{
    background-position: -267px -350px;
    top: 366px;
    left: 363px;
}
.slider__link--right{
    background-position: -307px -350px;
    top: 366px;
    right: 390px;
}

.head{
    width: 100%;
    color: $mainTextColor;
}

.head__type{
    @include proximaBold;
    font-size: 24px;
    padding: 0 0 0 3px;
}

.head__title{
    width: 246px;
    @include proximaBold;
    font-size: 40px;
    color: $slideTitleColor;
    line-height: 31px;
    letter-spacing: -0.9px;
}

.slide__img{
    margin: 9px auto 0 auto;
    width: 100%;
}

.additional_img_wrapper{
    width:127px;
    height: 127px;
    position: absolute;
    top: 221px;
    left: 30px;
}
.slide__additional_img{
        width:100%;
        height: 100%;
        box-sizing: border-box;
        border: 5px solid #fff;
        border-radius: 50%;
    }

/*form*/

/*.form_wrapper{
    width:287px;
    height: 152px;
    margin: 21px 0 0 4px;
    padding: 20px 23px 20px 23px;
    background-color: #f3f3f3;
    border-radius: 10px;
}*/

.authorisation{
    width:287px;
    height: 152px;
    margin: 28px auto 0 auto;
    padding: 20px 23px 20px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 10px;
}
.authorisation__controls_block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
}
.authorisation__input{
    width:238px;
    height: 41px;
    box-sizing: border-box;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    @include geneva;
    font-size: 13px;
}

.authorisation__input--email{
    margin-bottom: 8px;
    background-image: url("../img/login-person.png");
    background-repeat: no-repeat;
    background-position: 7px 8px;
    padding-left: 30px;
    letter-spacing: 0.6px;
}

.authorisation__input--login{
    background-image: url("../img/login-key.png");
    background-repeat: no-repeat;
    background-position: 9px 8px;
    padding-left: 32px;
    letter-spacing: 0.4px;
}

.authorisation__submit{
    width:107px;
    height: 32px;
    margin-right: 2px;
    font-family: $proximaSemibold;
    font-weight: bold;
    font-size: 15px;
    color: #1b1a1a;
    background: linear-gradient(to bottom, #ffe665, #fbc356);
    border-radius: 4px;
}

.authorisation__links_wrapper{
    margin-left: 4px;
}

.authorisation__link{
    display: block;
    @include geneva;
    font-size: 10px;
    color: $mainTextColor;
    opacity: .4;
}


.additional_info{
    width:287px;
    margin: 11px auto 0 auto;
    text-align: center;
}

.additional_info__location_icon{
    @include s(location-pin);
    background-repeat: no-repeat;
    
    /*width: 20px;
    height: 24px;*/
    margin: 0px 6px 0 0px;
}

.location_wrapper{
    display: flex;
    justify-content: center;
}

.additional_info__location_link{
    display: block;
    @include geneva;
    font-size: 11px;
    color: #2b2b2b;
    line-height: 24px;
    margin: 3px 0 0 0;
    letter-spacing: 0.5px;
}

.additional_info__tel{
    padding: 1px 0 0 0;
    font-family: $proxima;
    font-size: 13px;
    text-align: center;
    color: #2b2b2b;
}

.additional_info__tel--bold{
    @include proximaBold;
    font-size: 20px;
}