/*header*/
.container--head{
    @media only screen and (min-width:1024px){
    width: 1150px;
    }
}

/*top menu*/
.top_menu{
    padding: 10px 0 0 32px;
}
.menu--top{
    margin-bottom: 6px;
}
.menu_item{
    display: flex;
}
.menu_item--polls{
    margin: 0px 0 0px 24px;
}
.menu_item--comunication{
    margin: 0 0 0px 45px;
}

.menu_item--invest{
    margin: 0 0 0 40px;
}

.menu_item--contacts{
    margin: 0 0 0 51px;
}

.menu_item--partners_livingtogether{
     margin: 0 0 0 20px;
}

.menu_item--question{
    margin: 0 0 0 13px;
}

.menu_item--typical_decoration{
    margin: 0 0px 0 26px;
}

.menu_item--club_cart{
    margin: 0 0 0 18px;
}


/*@each  in rent, polls, communication,invest,contacts,news,partners, question, typical-decoration, club-cart{
    .menu__img--{
    @include s();

    }
}*/


.menu__img--rent {
  background-image: url("../img/sprite.png");
  width: 13px;
  height: 13px;
  background-position: -494px -302px;
}

.menu__img--polls {
  background-image: url("../img/sprite.png");
  width: 11px;
  height: 13px;
  background-position: -516px -301px;
}

.menu__img--communication {
  background-image: url("../img/sprite.png");
  width: 18px;
  height: 18px;
  background-position: -498px -231px;
}

.menu__img--invest {
  background-image: url("../img/sprite.png");
  width: 16px;
  height: 14px;
  background-position: -495px -257px;
}

.menu__img--contacts {
  background-image: url("../img/sprite.png");
  width: 17px;
  height: 12px;
  background-position: -523px -257px;
}

.menu__img--news {
  background-image: url("../img/sprite.png");
  width: 18px;
  height: 20px;
  background-position: -528px -198px;
}

.menu__img--partners {
  background-image: url("../img/sprite.png");
  width: 19px;
  height: 19px;
  background-position: -527px -167px;
}

.menu__img--question {
  background-image: url("../img/sprite.png");
  width: 21px;
  height: 21px;
  background-position: -497px -167px;
}

.menu__img--typical-decoration {
  background-image: url("../img/sprite.png");
  width: 18px;
  height: 18px;
  background-position: -526px -231px;
}

.menu__img--club-cart {
  background-image: url("../img/sprite.png");
  width: 16px;
  height: 11px;
  background-position: -496px -280px;
}

.menu__img{
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.menu__link{
    display: block;
    @include geneva;
    font-size: 12px;
    color: $mainTextColor;
    letter-spacing: 0.1px;
}
.menu__link--rent{
    margin: 0 0 0 3px;
    letter-spacing: 0.3px;
}
.menu__link--polls{
    margin: 0 0 0 8px;
}
.menu__link--communication{
    margin: 0 0 0 3px;
    letter-spacing: 0.1px;
}

.menu__link--invest{
    margin: 0 0 0 6px;
    letter-spacing: 0.2px;
}

.menu__link--contacts{
    margin: 0 0 0 6px;
    letter-spacing: 0.6px;
}

.menu__link--news{
    margin: 0 1px 0 0;
}
.menu__link--partners{
    margin: 0 0 0 11px;
}

.menu__link--question{
    margin: 0 0 0 7px;
    padding-top: 2px;
    font-size: 11px;
    letter-spacing: 0.2px;
}
.menu__link--typical-decoration{
    margin: 0 0 0 2px;
    padding-top: 1px;
    letter-spacing: 0.5px;
}

.menu__link--club-cart{
    margin: 0 0 0 7px;
    padding-top: 1px;
    letter-spacing: 0.3px;
}


