{% set 
partners = [
	{
		title:"audio-system",
		text: 'Аудио-видео системы'
	},
	{
		title:"appliances",
		text: 'Бытовая техника'
	},
	{
		title:"trucking",
		text: 'Грузоперевозки'
	},
	{
		title:"doors",
		text: 'Двери'
	},
	{
		title:"designers",
		text: 'Дизайнеры'
	},
	{
		title:"for-kids",
		text: 'Для детей'
	},
	{
		title:"health",
		text: 'Здоровье'
	},
	{
		title:"climat",
		text: 'Климат'
	},
	{
		title:"clean-service",
		text: 'Клининговые услуги'
	},
	{
		title:"beauty",
		text: 'Красота'
	},
	{
		title:"kitchens",
		text: 'Кухни'
	},
	{
		title:"stairs",
		text: 'Лестницы'
	},
	{
		title:"materials",
		text: 'Материалы для отделки'
	},
	{
		title:"furniture",
		text: 'Мебель'
	},
	{
		title:"stretch-ceiling",
		text: 'Натяжные потолки'
	},
	{
		title:"celebration",
		text: 'Организация праздников'
	},
	{
		title:"security-system",
		text: 'Охранные системы'
	},
	{
		title:"drinking-water",
		text: 'Питьевая вода'
	},
	{
		title:"floor",
		text: 'Пол'
	},
	{
		title:"hobbies",
		text: 'Развлечения и хобби'
	},
	{
		title:"other",
		text: 'Разное'
	},
	{
		title:"sanitary-engineering",
		text: 'Сантехника'
	},
	{
		title:"light",
		text: 'Свет'
	},
	{
		title:"textile-products",
		text: 'Текстильные изделия'
	},
	{
		title:"tourism",
		text: 'Туризм'
	},
	{
		title:"smart-house",
		text: 'Умный дом'
	},
	{
		title:"building",
		text: 'Услуги по строительству и ремонту'
	},
	{
		title:"animals-care",
		text: 'Уход за животными'
	},
	{
		title:"artistic-forging",
		text: 'Художественная ковка'
	}
	
] 
%}

{%set
	slides = [
	{
		title:"Одинцовский парк",
		type:"Жилой комплекс",
		img:"park-odintsovo"

	},
	{
		title:"Новые Ватутинки",
		type:"Жилой комплекс",
		img:"new-vatutino",
		additionalImg: "vatutino-extra"
	},
	{
		title:"Новое Бутово",
		type:"Жилой комплекс",
		img:"new-butovo"

	},{
		title:"Одинцовский парк",
		type:"Жилой комплекс",
		img:"park-odintsovo"

	},
	{
		title:"Новые Ватутинки",
		type:"Жилой комплекс",
		img:"new-vatutino",
		additionalImg: "vatutino-extra"
	},
	{
		title:"Новое Бутово",
		type:"Жилой комплекс",
		img:"new-butovo"

	}
	
	]
%}

{%set
 news=[
 {
	 date:'12 мая 2013',
	 text: "Хоккеист Ничушкин планирует провести следующий сезон в НХЛ. Матч за Суперкубок России по футболу пройдет."
 },
 {
	 date:'12 мая 2013',
	 text: "Хоккеист Ничушкин планирует провести следующий сезон в НХЛ. Матч за Суперкубок России по футболу пройдет."
 },
 {
	 date:'12 мая 2013',
	 text: "Хоккеист Ничушкин планирует провести следующий сезон в НХЛ. Матч за Суперкубок России по футболу пройдет."
 }
 ]
%}