$icons: (0:0)
$icons: map-merge($icons,('club-cart': (X: -27px, Y:-74px, W: 16px, H: 11px, TW: 110px, TH: 86px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('communication': (X: 0px, Y:-46px, W: 18px, H: 18px, TW: 110px, TH: 86px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('contacts': (X: 0px, Y:-74px, W: 17px, H: 12px, TW: 110px, TH: 86px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('invest': (X: -56px, Y:-46px, W: 16px, H: 14px, TW: 110px, TH: 86px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('news': (X: 0px, Y:0px, W: 23px, H: 36px, TW: 110px, TH: 86px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('partners_of_liivingtogether': (X: -68px, Y:0px, W: 19px, H: 19px, TW: 110px, TH: 86px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('polls': (X: -97px, Y:-23px, W: 11px, H: 13px, TW: 110px, TH: 86px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('question': (X: -33px, Y:0px, W: 25px, H: 23px, TW: 110px, TH: 86px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('rent': (X: -97px, Y:0px, W: 13px, H: 13px, TW: 110px, TH: 86px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('typical-decoration': (X: -28px, Y:-46px, W: 18px, H: 18px, TW: 110px, TH: 86px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-club-cart
//  width: 16px
//  height: 11px
//  background-image: url('../img/sprite.png')
//  background-position: -27px -74px
//
//.icon-communication
//  width: 18px
//  height: 18px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -46px
//
//.icon-contacts
//  width: 17px
//  height: 12px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -74px
//
//.icon-invest
//  width: 16px
//  height: 14px
//  background-image: url('../img/sprite.png')
//  background-position: -56px -46px
//
//.icon-news
//  width: 23px
//  height: 36px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-partners_of_liivingtogether
//  width: 19px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: -68px 0px
//
//.icon-polls
//  width: 11px
//  height: 13px
//  background-image: url('../img/sprite.png')
//  background-position: -97px -23px
//
//.icon-question
//  width: 25px
//  height: 23px
//  background-image: url('../img/sprite.png')
//  background-position: -33px 0px
//
//.icon-rent
//  width: 13px
//  height: 13px
//  background-image: url('../img/sprite.png')
//  background-position: -97px 0px
//
//.icon-typical-decoration
//  width: 18px
//  height: 18px
//  background-image: url('../img/sprite.png')
//  background-position: -28px -46px
//