$icons: (0:0)
$icons: map-merge($icons,('animals-care': (X: -76px, Y:-494px, W: 67px, H: 62px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('appliances': (X: -420px, Y:-81px, W: 59px, H: 81px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('artistic-forging': (X: 0px, Y:-350px, W: 77px, H: 60px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('audio-system': (X: -104px, Y:-92px, W: 89px, H: 69px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('beauty': (X: -76px, Y:-177px, W: 90px, H: 61px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('building': (X: -420px, Y:0px, W: 68px, H: 71px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('celebration': (X: -86px, Y:-274px, W: 81px, H: 57px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('clean-service': (X: 0px, Y:-274px, W: 76px, H: 66px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('climat': (X: -224px, Y:0px, W: 101px, H: 59px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('club-cart': (X: -498px, Y:-324px, W: 16px, H: 11px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('communication': (X: -526px, Y:-246px, W: 18px, H: 18px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('contacts': (X: -524px, Y:-300px, W: 17px, H: 12px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('designers': (X: 0px, Y:0px, W: 103px, H: 82px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('doors': (X: 0px, Y:-177px, W: 66px, H: 87px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('drinking-water': (X: -498px, Y:-83px, W: 61px, H: 73px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('floor': (X: -184px, Y:-350px, W: 73px, H: 42px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('for-kids': (X: -335px, Y:-159px, W: 67px, H: 73px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('furniture': (X: -81px, Y:-420px, W: 73px, H: 61px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('health': (X: -335px, Y:-82px, W: 75px, H: 67px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('hobbies': (X: -420px, Y:-172px, W: 65px, H: 70px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('invest': (X: -498px, Y:-300px, W: 16px, H: 14px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('kitchens': (X: -224px, Y:-69px, W: 86px, H: 67px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('light': (X: -498px, Y:0px, W: 61px, H: 73px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('location-pin': (X: -498px, Y:-212px, W: 18px, H: 24px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('login-key': (X: -525px, Y:-274px, W: 15px, H: 16px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('login-person': (X: -498px, Y:-274px, W: 17px, H: 16px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('materials': (X: 0px, Y:-420px, W: 71px, H: 64px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('news': (X: -498px, Y:-166px, W: 23px, H: 36px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('other': (X: -335px, Y:0px, W: 75px, H: 72px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('partners_of_liivingtogether': (X: -526px, Y:-212px, W: 19px, H: 19px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('polls': (X: -521px, Y:-345px, W: 11px, H: 13px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('question': (X: -531px, Y:-166px, W: 25px, H: 23px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('rent': (X: -498px, Y:-345px, W: 13px, H: 13px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('sanitary-engineering': (X: -268px, Y:-274px, W: 74px, H: 57px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('security-system': (X: -177px, Y:-274px, W: 81px, H: 57px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('slider-arrows': (X: -267px, Y:-350px, W: 77px, H: 37px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('smart-house': (X: -420px, Y:-252px, W: 58px, H: 77px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('stairs': (X: -176px, Y:-177px, W: 76px, H: 61px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('stretch-ceiling': (X: -87px, Y:-350px, W: 87px, H: 44px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('textile-products': (X: 0px, Y:-494px, W: 66px, H: 63px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tourism': (X: 0px, Y:-92px, W: 94px, H: 75px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('trucking': (X: -113px, Y:0px, W: 101px, H: 73px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('typical-decoration': (X: -498px, Y:-246px, W: 18px, H: 18px, TW: 559px, TH: 557px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-animals-care
//  width: 67px
//  height: 62px
//  background-image: url('../img/sprite.png')
//  background-position: -76px -494px
//
//.icon-appliances
//  width: 59px
//  height: 81px
//  background-image: url('../img/sprite.png')
//  background-position: -420px -81px
//
//.icon-artistic-forging
//  width: 77px
//  height: 60px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -350px
//
//.icon-audio-system
//  width: 89px
//  height: 69px
//  background-image: url('../img/sprite.png')
//  background-position: -104px -92px
//
//.icon-beauty
//  width: 90px
//  height: 61px
//  background-image: url('../img/sprite.png')
//  background-position: -76px -177px
//
//.icon-building
//  width: 68px
//  height: 71px
//  background-image: url('../img/sprite.png')
//  background-position: -420px 0px
//
//.icon-celebration
//  width: 81px
//  height: 57px
//  background-image: url('../img/sprite.png')
//  background-position: -86px -274px
//
//.icon-clean-service
//  width: 76px
//  height: 66px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -274px
//
//.icon-climat
//  width: 101px
//  height: 59px
//  background-image: url('../img/sprite.png')
//  background-position: -224px 0px
//
//.icon-club-cart
//  width: 16px
//  height: 11px
//  background-image: url('../img/sprite.png')
//  background-position: -498px -324px
//
//.icon-communication
//  width: 18px
//  height: 18px
//  background-image: url('../img/sprite.png')
//  background-position: -526px -246px
//
//.icon-contacts
//  width: 17px
//  height: 12px
//  background-image: url('../img/sprite.png')
//  background-position: -524px -300px
//
//.icon-designers
//  width: 103px
//  height: 82px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-doors
//  width: 66px
//  height: 87px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -177px
//
//.icon-drinking-water
//  width: 61px
//  height: 73px
//  background-image: url('../img/sprite.png')
//  background-position: -498px -83px
//
//.icon-floor
//  width: 73px
//  height: 42px
//  background-image: url('../img/sprite.png')
//  background-position: -184px -350px
//
//.icon-for-kids
//  width: 67px
//  height: 73px
//  background-image: url('../img/sprite.png')
//  background-position: -335px -159px
//
//.icon-furniture
//  width: 73px
//  height: 61px
//  background-image: url('../img/sprite.png')
//  background-position: -81px -420px
//
//.icon-health
//  width: 75px
//  height: 67px
//  background-image: url('../img/sprite.png')
//  background-position: -335px -82px
//
//.icon-hobbies
//  width: 65px
//  height: 70px
//  background-image: url('../img/sprite.png')
//  background-position: -420px -172px
//
//.icon-invest
//  width: 16px
//  height: 14px
//  background-image: url('../img/sprite.png')
//  background-position: -498px -300px
//
//.icon-kitchens
//  width: 86px
//  height: 67px
//  background-image: url('../img/sprite.png')
//  background-position: -224px -69px
//
//.icon-light
//  width: 61px
//  height: 73px
//  background-image: url('../img/sprite.png')
//  background-position: -498px 0px
//
//.icon-location-pin
//  width: 18px
//  height: 24px
//  background-image: url('../img/sprite.png')
//  background-position: -498px -212px
//
//.icon-login-key
//  width: 15px
//  height: 16px
//  background-image: url('../img/sprite.png')
//  background-position: -525px -274px
//
//.icon-login-person
//  width: 17px
//  height: 16px
//  background-image: url('../img/sprite.png')
//  background-position: -498px -274px
//
//.icon-materials
//  width: 71px
//  height: 64px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -420px
//
//.icon-news
//  width: 23px
//  height: 36px
//  background-image: url('../img/sprite.png')
//  background-position: -498px -166px
//
//.icon-other
//  width: 75px
//  height: 72px
//  background-image: url('../img/sprite.png')
//  background-position: -335px 0px
//
//.icon-partners_of_liivingtogether
//  width: 19px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: -526px -212px
//
//.icon-polls
//  width: 11px
//  height: 13px
//  background-image: url('../img/sprite.png')
//  background-position: -521px -345px
//
//.icon-question
//  width: 25px
//  height: 23px
//  background-image: url('../img/sprite.png')
//  background-position: -531px -166px
//
//.icon-rent
//  width: 13px
//  height: 13px
//  background-image: url('../img/sprite.png')
//  background-position: -498px -345px
//
//.icon-sanitary-engineering
//  width: 74px
//  height: 57px
//  background-image: url('../img/sprite.png')
//  background-position: -268px -274px
//
//.icon-security-system
//  width: 81px
//  height: 57px
//  background-image: url('../img/sprite.png')
//  background-position: -177px -274px
//
//.icon-slider-arrows
//  width: 77px
//  height: 37px
//  background-image: url('../img/sprite.png')
//  background-position: -267px -350px
//
//.icon-smart-house
//  width: 58px
//  height: 77px
//  background-image: url('../img/sprite.png')
//  background-position: -420px -252px
//
//.icon-stairs
//  width: 76px
//  height: 61px
//  background-image: url('../img/sprite.png')
//  background-position: -176px -177px
//
//.icon-stretch-ceiling
//  width: 87px
//  height: 44px
//  background-image: url('../img/sprite.png')
//  background-position: -87px -350px
//
//.icon-textile-products
//  width: 66px
//  height: 63px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -494px
//
//.icon-tourism
//  width: 94px
//  height: 75px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -92px
//
//.icon-trucking
//  width: 101px
//  height: 73px
//  background-image: url('../img/sprite.png')
//  background-position: -113px 0px
//
//.icon-typical-decoration
//  width: 18px
//  height: 18px
//  background-image: url('../img/sprite.png')
//  background-position: -498px -246px
//